<div class="flex flex-column outer pb4">
  <div>
    <nav class="flex bb tc mw7 center">
      <a class="flex-auto flex items-center pointer justify-center f6 f5-l link bg-animate black-80 dib pa3 ph4-l hover-bg-lightest-blue"
        (click)="changeSection(0)" [ngClass]="section === 0 ? 'bg-lightest-blue' : ''">Happiness Levels</a>
      <a class="flex-auto flex items-center pointer justify-center f6 f5-l link bg-animate black-80 hover-bg-light-green dib pa3 ph4-l"
        (click)="changeSection(1)" [ngClass]="section === 1 ? 'bg-light-green' : ''">Location</a>
      <a class="flex-auto flex items-center pointer justify-center f6 f5-l link bg-animate black-80 hover-bg-light-blue dib pa3 ph4-l"
        (click)="changeSection(2)" [ngClass]="section === 2 ? 'bg-light-blue' : ''">Age Range</a>
      <a class="flex-auto flex items-center pointer justify-center f6 f5-l link bg-animate black-80 hover-bg-light-pink dib pa3 ph4-l"
        (click)="changeSection(3)" [ngClass]="section === 3 ? 'bg-light-pink' : ''">Gender</a>
      <!-- <a class="f6 f5-l link bg-animate black-80 hover-bg-light-yellow dib pa3 ph4-l" (click)="changeSection(4)">Feedback</a> -->
    </nav>
  </div>
  <!-- <a class="f6 link dim br2 ba ph3 pv2 mb2 dib dark-blue" href="#0">Button Text</a> -->

  <div *ngIf="section == 0" class="flex graph-div">
      <div class = "w-50">
          <p align="center" class="black-50"> Pre-call Upset Level</p>
          <div style="display: block" class="indivCharts">
            <canvas baseChart
                    [datasets]="oldBarChartData"
                    [labels]="oldBarChartLabels"
                    [options]="oldBarChartOptions"
                    [legend]="oldBarChartLegend"
                    [chartType]="oldBarChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
        </div>
        <div class = "w-50 indivCharts">
            <p align="center" class="black-50"> Post-call Upset Level</p>
            <div style="display: block" class="indivCharts">
              <canvas baseChart
                      [datasets]="newBarChartData"
                      [labels]="newBarChartLabels"
                      [options]="newBarChartOptions"
                      [colors]="newBarChartColors"
                      [legend]="newBarChartLegend"
                      [chartType]="newBarChartType"
                      (chartHover)="chartHovered($event)"
                      (chartClick)="chartClicked($event)"></canvas>
            </div>
          </div>
  </div>

  <!-- LOCATION -->
  <div>
    <div *ngIf="section == 1" style="display: block" class="w-100">
      <canvas baseChart [data]="locationChartData" [labels]="locationChartLabels" [chartType]="locationChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <!-- AGE -->
  <div *ngIf="section == 2">
    <div style="display: block">
      <canvas baseChart [data]="ageChartData" [labels]="ageChartLabels" [chartType]="ageChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <!-- GENDER -->
  <div *ngIf="section == 3">
    <div style="display: block">
      <canvas baseChart [data]="genderChartData" [labels]="genderChartLabels" [chartType]="genderChartType" (chartHover)="chartHovered($event)"
        (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>

  <div class="border-div graph-div"></div>
</div>