<div class="pa2 flex flex-column">
  <div style="" class="flex justify-between items-end pv3">
    <div class="tc f2-l fw9 black-90">Daily Insights</div>
    <div class="flex items-center pointer bg-green hover-bg-light-green white pv1 ph3 br-pill f6" (click)="showNewPost()">
      <i class="material-icons pr1">add</i>
      ADD POST
    </div>
  </div>
  <gtc-modal [visible]="isNewPostVisible" (onHide)="hideNewPost()">
    <gtc-new-post (onAddPost)="addNewItem($event)"></gtc-new-post>
  </gtc-modal>
  <gtc-modal [visible]="isThreadVisible" (onHide)="hideThread()">
    <gtc-thread [parent]="selectedPost" (onClose)="hideThread()"></gtc-thread>
  </gtc-modal>
  <div *ngFor="let post of displayPosts">
    <gtc-post-item [post]="post" (onCommentClick)="openThread(post)"></gtc-post-item>
  </div>
</div>
