<div class="flex flex-column customFont">
  <div class="flex items-center justify-between header white pa2 f4 shadow-3 z-1">
    <div class="flex items-center">
      <!-- <i class="material-icons pa2 pointer">menu</i> -->
      <div class="pl2 title flex items-center">
        <div class="pb1">Kids Help Phone: Counsellor Analytics</div>
        <img class="icon pl2" src="../dist/assets/icons/kidsHelpPhone.png" alt="icon">
      </div>
    </div>
    <div (click)='showProfile()' class="flex items-center ttc ph4" *ngIf="user !== null">
      <div class="user-icon br-pill mr3 ba b--white" [ngStyle]="{'background-image': 'url(' + user.thumbnail + ')'}"></div>
      <div *ngIf="theUser != null">{{theUser.firstName}} {{theUser.lastName}}</div>
    </div>
  </div>
  <div class="body-container pa2 bg-near-white h-100">
    <gtc-modal [visible]="profileVisible" (onHide)="hideProfile()">
      <gtc-profile [user]="theUser" [editable]="true"></gtc-profile>
    </gtc-modal>
    <router-outlet>
    </router-outlet>
  </div>
  <div class="flex bottom tc footer">
    <div class="w-100">
      <gtc-footer></gtc-footer>
    </div>
  </div>
</div>